@import url('../../assets/style/theme.less');

.ant-btn {
    height:50px;
    width: 204px;
    // padding: 10px;
    margin-top: 40%;
    font-weight: 800;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pet{

    background-color: @feature-experience-color;
    border-color:  @feature-experience-color;
    color: @bottom-color;
    &:hover,
    &:focus {
        background-color: @feature-experience-color;
        border-color:  @feature-experience-color;
    }
}
.together{
    background-color:@feature-adoptions-color;
    border-color:@feature-adoptions-color;
    color: @bottom-color;
    &:hover,
    &:focus {
        background-color:@feature-adoptions-color;
        border-color:@feature-adoptions-color;
    }
}