

.RecordListwarp{
    margin-top: 2%;
    margin-bottom:2%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

   
}
.PetCardText{
    align-items: flex-start;
}
.RecordListTitle{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    width: 100%;
    padding: 2% 0;
    margin-bottom: 0;
}
.ListWarp{
    background: rgba(66, 189, 180, 0.08);
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 2% 0;
    height: 480px;
    overflow-y: scroll;
}
.PetCardBtn{
    background-color:#FFFFFF;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2);
    width: 110px;
    height: 30px;
    font-weight: bolder;
    font-size: 15px;
    color: #1A535C;
    margin: 0;
    &:hover,
    &:focus {
        background-color:#1A535C;
    }
}

.ExperienceList .PetCard{
    width: 95%;
    
}

::-webkit-scrollbar {
    display: none;
    
    }


.SeemoreIcon{
    text-decoration: none;
    color: #1A535C;
    font-size: 24px;
}
.SeemoreIcon:hover{
    text-decoration: none;
    color: #1A535C;
    font-size: 24px;
}
.ListPetCard{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background-color: #F7FFF7;
    margin-bottom: 2%;
    margin: 2% 2%;
}
  
  @media screen and (max-width:576px) {

    .PetCardContentList .PetCardContent1{
        display: flex;
        justify-content: start;
        margin-bottom: 2%;
        margin-top: 1%;
        margin-left: 0%;
    
    }
    .RearingPetJmimg{
        width: 80%;
    }
    .PetCardContentList .PetCardText {
        font-weight: 800;
        font-size: 14px;
        margin: 0 5px;
    }
    .PetCardContentList  .PetCardContent1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .PetCardContentList{
        margin: 4px 0 6px 0;
    }
    .ListPetCard:hover{
        background-color: #e1e9e1d6;
    }
  }
  
  @media screen and (max-width:768px) {

    .PetCardContentList .PetCardContent1{
        display: flex;
        justify-content: start;
        margin-bottom: 2%;
        margin-top: 1%;
        margin-left: 0%;
    
    }
    .RearingPetJmimg{
        width: 80%;
    }
    .PetCardContentList .PetCardText {
        font-weight: 800;
        font-size: 14px;
        margin: 0 4px;
    }

    .PetCardContentList{
        margin: 4px 0 6px 0;
    }
    .ListPetCard:hover{
        background-color: #eef6eed6;
    }
    
  }

  @media screen and (max-width:1200px) {

 
    .ListPetCard:hover{
        background-color: #e1e9e1d6;
    }
    
  }